<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item"><a href="#">Venta de entradas</a></li>
                    <li class="list-group-item"><a href="#">Promociones</a></li>
                    <li class="list-group-item"><a href="#">Cómo llegar</a></li>
                    <li class="list-group-item"><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="col">
                
            </div>
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item"><a href="#">Publicidad</a></li>
                    <li class="list-group-item"><a href="#">Eventos coporativos</a></li>
                    <li class="list-group-item"><a href="#">Preguntas Frecuentes</a></li>
                    <li class="list-group-item"><a href="#">Protocolo COVID</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>