<div class="contacto">
    <div class="container">
        <div class="row">
            <div class="col">

                <form>
                    <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre y apellido</label>
                    <input type="text" class="form-control" id="nombre">
                    </div>
                    <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                    <label for="telefono" class="form-label">Telefono</label>
                    <input type="text" class="form-control" id="telefono">
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
                

            </div>
        </div>
    </div>
</div>
