<div class="contenedor">

<div class="container pt-3">
	<div class="row row-cols-1 row-cols-md-3 g-1">
        
        <div class="col mb-5" *ngFor="let evento of eventos">
            <div class="card g-1" style="width: 18rem;" > 
                <img src="./assets/imagenes/{{evento.img}}" class="card-img-top" alt="auto">
                <div class="card-body">
                    <h5 class="card-title">{{ evento.banda }}</h5>
                    <p class="card-text">{{ evento.fecha }}</p>
                    <a href="#" class="btn btn-danger">Comprar Entradas</a>
                </div>
            </div>      
        </div>
      
	</div>
</div>

<app-medios-pago></app-medios-pago>

<app-contacto></app-contacto>

<app-footer></app-footer>

</div>
